<section
  class="flex flex-col grid-cols-1 px-12 md:px-52 font-bold gap-3 text-black-pearl-50"
>
  <section>
    <h2 class="text-md md:text-lg">Hola, soy un</h2>
    <h1 class="text-xl md:text-3xl">
      Desarrollador <strong
        class="text-black-pearl-500 shadow-black-pearl-500 bg-transparent drop-shadow-black-pearl-500"
        >Full Stack</strong>
    </h1>
  </section>
  <p class="font-normal">
    Hola, soy <strong>David Latosefki</strong> un Desarrollador Full Stack
  </p>
</section>
