---
import Welcome from "./content/Welcome.astro"
import AboutMe from "./content/AboutMe.astro"
import Tecnologies from "./content/Tecnologies.astro"
import Projects from "./content/Projects.astro"
---
<div class="flex flex-col text-white mt-8 gap-5">
	<Welcome />
	<AboutMe />
	<Tecnologies />
	<Projects />
</div>