---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>David Latosefki</title>
  </head>
  <body>
    <div class="fondo-1"></div>
    <slot />
    <div class="fondo-2"></div>
  </body>
</html>
